/* ---------------- GLOBAL ---------------- */

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#001d3d);
    color:white;
}

/* ---------------- NAVBAR ---------------- */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:center;
    background:#071229;
    padding:20px 30px;
    box-shadow:0 6px 25px rgba(0,0,0,0.5);
    z-index:1000;
}

.navbar-container{
    width:100%;
    max-width:1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:20px;
    font-weight:bold;
    color:#4fd1ff;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:15px;
    margin:0;
    padding:0;
}

.nav-links a{
    text-decoration:none;
    padding:10px 16px;
    border-radius:8px;
    background:#0b1b35;
    color:white;
}

.nav-links a:hover{
    background:#1e3a8a;
}

/* ---------------- HERO ---------------- */

.hero{
    text-align:center;
    margin-top:120px;
}

.Name{
    padding-top:120px;
    font-size:40px;
}

.subtitle,
.platforms{
    margin-top:10px;
    font-size:22px;
    color:#4ba2ff;
}

.contact{
    margin-top:10px;
    color:#4fd1ff;
}

.linkedin{
    color:#4fd1ff;
    text-decoration:none;
}

.linkedin:hover{
    color:#0077b5;
}

/* ---------------- DEV + QA SECTION BASE ---------------- */

.Dev-skill-section,
.QA-section{
    padding:100px 20px;
}

.dev-skill-container,
.QA-container{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:80px;
}

/* columns */

.Dev-skill-left,
.Dev-skill-right,
.QA-skill-left,
.QA-skill-right{
    flex:1;
    
}

/* ---------------- TITLES ---------------- */

.title-dev,
.title-QA{
    border-left:8px solid #00aaff;
    padding-left:15px;
    font-size:60px;
    font-weight:700;
    margin-bottom:20px;
}

/* ---------------- HEADINGS ---------------- */

.Dev-skill-section h3,
.QA-section h3{
    margin-top:30px;
    letter-spacing:3px;
    font-size:24px;
}

/* ---------------- LIST ---------------- */
.Dev-skill-right{
    margin-top:110px;
}

.QA-skill-right{
    margin-top:110px;
}
ul{
    margin-top:10px;
    padding-left:20px;
    
}

li{
    margin-bottom:8px;
}

/* ---------------- FOOTER ---------------- */

.footer-bar{
    width:100%;
    padding:20px 0;
    text-align:center;
    background:#071229;
    font-size:14px;
    box-shadow:0 6px 25px rgba(0,0,0,0.5);
    margin-top:80px;
}

/* ---------------- MOBILE ---------------- */

@media (max-width:768px){

.dev-skill-container,
.QA-container{
    flex-direction:column;
    gap:40px;
}

.title-dev,
.title-QA{
    font-size:40px;
}

.Dev-skill-section h3,
.QA-section h3{
    font-size:20px;
}

.navbar-container{
    flex-direction:column;
    gap:10px;
}

.nav-links{
    flex-wrap:wrap;
    justify-content:center;
}

.hero{
    font-size:20px;
}

.subtitle,
.platforms{
    font-size:18px;
}

}